<div>
    <h1>SVG Importer</h1>
    <div>
        <p>You have selected scene <b>{{{sceneName}}}</b> with id {{{sceneId}}}.</p>
        <p>This importer will import DungeonFog SVGs or regular SVGs.</p>
        <p>For regular SVGs applies the following schema:
            <ul style="list-style-type:disc;padding-left:20px">
                <li>Paths are  regular walls.</li>
                <li>Circles are local light sources with the same radius as the circle.</li>
                <li>Lines are doors.</li>
            </ul>
        </p>
        <h3><i>Warning: Importing will delete all currently existing walls and lights in this scene!</i></h3>
        <h3>This may take a while. Do not change the scene before a success message is displayed at the top!</h3>
    </div>
    <br>
    <h2>Options</h2>
    <details class="OptionDetails">
        <summary class="OptionSummary">Show</summary>
        <div class="content">
            <ul>
                <li>
                    <h3><b>Max dist to path element</b></h3>
                    <details class="DescDetails">
                    <summary class="DescSummary">Show description</summary>
                        <div class="content">
                        <p>This attribute defines how fine non-linear path elements are sampled. <br>
                        The value defines the maximum distance of a wall segments endpoint to the sampled path element. A higher value means better approximation of the elements, while using more wall segments, resulting in a worse performance.<br>
                        The default value (10%) seems like a good tradeoff between amount of wallpoints and approximation of the path element for most curves. If you experience a bad performace try reducing this value.</p>
                        </div>
                    </details>
                    <input class="DistSlider" type="range" name="dist_percent" min="0" max="100" value={{{maxDist}}} step="0.5" style="width:200px"/>
                     <output class="DistOut">{{{maxDist}}}</output>% of grid size.
                </li>
                <li class="optionItem">
                     <h3><b>Dim light to bright light ratio</b></h3>
                     <details class="DescDetails">
                     <summary class="DescSummary">Show description</summary>
                         <div class="content">
                         <p>This attribute defines the ratio of bright to dim light the radius of a circle is interpreted as.</p>
                         </div>
                     </details>
                     <input class="LightRatioSlider" type="range" name="dist_percent" min="0" max="100" value={{{lightRatio}}} step="0.5" style="width:200px"/>
                      <output class="LightRatioOut">{{{lightRatio}}}</output>% of the radius is bright light.
                </li>
                <li class="optionItem">
                     <h3><b>Scaling</b></h3>
                     <details class="DescDetails">
                     <summary class="DescSummary">Show description</summary>
                         <div class="content">
                         <p>DungeonFog allows to export your images scaled, while the SVG Export dimensions always stay the same.</p>
                         <p>Modify this value to accomodate for that.</p>
                         </div>
                     </details>
                     <input name="scale" type="number" value="{{scale}}"/>
                </li>
              </ul>
          </div>
         </div>
    </details>
    <div>
        <br>
        <table style="border: none; background: Transparent;">
        <tr>
            <td style="width:125px">
                Choose SVG file:
            </td>
            <td>
                <input type="file" name="fileUploads" accept=".svg" value=10/>
            </td>
        </tr>
        </table>
    </div>
    <button class="startImport btn" value="Import" >
        <i class='fas fa-check'></i> Import
    </button>
</div>
